:root {
    --section-margin: 20px 0 0 0;
}

body {
    max-width: 1400px;

    margin: 0 auto;
    padding: 0;

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    width: calc(100% - 100px);
    height: 50px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

ul a {
    text-decoration: none;
    color: #000;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.titles {
    height: 30px;
    top: 20px;
    left: 50px;
    padding: 5px 10px;
    position: absolute;
    display: flex;
    align-items: center;
    border: 2px solid #000;
    font-size: 20px;
    text-transform: uppercase;

    /* background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px); */
}

.titles::after {
    content: '';
    position: absolute;
    top: 2px;
    right: -6px;
    bottom: -6px;
    left: 2px;
    border: 2px solid #000;
}

header {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    height: 80px;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 999;
    top: 0;

    text-transform: uppercase;

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

header img {
    width: 50px;
}

.screen {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(../img/bg-main.jpeg) center center/cover no-repeat;
    background-attachment: fixed;
}

.screen-content {
    position: absolute;
    bottom: 50px;
    left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.text {
    position: absolute;
    bottom: 50px;
    letter-spacing: -5px;
    left: 36px;
    text-transform: uppercase;
    font-size: 25px;

    writing-mode: vertical-lr;
    text-orientation: upright; 
}

.screen img {
    position: absolute;
    width: 200px;
    bottom: 10px;
    right: 50px;
    bottom: 50px;
}

.model {
    width: 100%;
    height: 400px;
    margin: var(--section-margin);
    background: #fff;
    position: sticky;
    z-index: 20;
    top: 80px;
}

.product-link {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    background: #00000030;
    color: #00000000;
}

.product-link:hover {
    color: #000;
    background: #00000000;
}

.model-content {
    display: flex;
}

.model-photo {
    width: 50%;
    height: 100%;
}

.model-photo span{
    display: flex;
}

.model-img {
    width: calc(100% / 3);
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.model-title {
    position: relative;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.model-text {
    width: 100%;   
    position: absolute;
}

.model-img h2 {
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    /* mix-blend-mode: difference; */
    font-size: 80px;
}

.model-img p {
    color: #402d20;
    /* mix-blend-mode: difference; */
}

.model-bg {
    width: 100%;
    height: 50%;
    background: #402d20;
    background: #b3581c;
    background: #22262A;

}






.catalog {
    /* width: 100%;
    height: 400px;
    margin: var(--section-margin);
    position: sticky;
    display: flex;
    justify-content: flex-end;
    z-index: 30;
    top: 80px; */

    margin: 20px 0 0 50%;
    width: 50%;
    height: 400px;
    position: sticky;
    display: flex;
    justify-content: flex-end;
    z-index: 30;
    top: 80px;
}

.controls {
    width: 300px;
    height: 20px;
    position: absolute;
    z-index: 60;
    top: 90%;
    left: 25%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.slider-btn {
    height: 20px;
    width: 20px;
    cursor: pointer;
    background: #402d20;
    background: #b3581c;
}

.btn-active {
    background: #fff;
    transform: rotate(45deg);
    transition: .5s;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    background: #fff;
}

.box {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
    opacity: 0;
    transition: 1s;
}

.box-active {
    z-index: 50;
    opacity: 1;
}

.about {
    width: 100%;
    height: 510px;
    margin: var(--section-margin);
    position: sticky;
    z-index: 40;
    top: 80px;
    display: flex;
    background: #cbc4bc;
}

.about-list {
    display: block;
}

.about-title {
    font-size: 25px;
    font-weight: 300;
    position: relative;
    z-index: 40;
}

.about-text {
    width: 80%;
    padding: 80px 0  0 50px;
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    z-index: 40;
}

.about-img {
    height: 100%;
    width: 100%;
}

.about-list p{
    margin: 5px 0;
    position: relative;
    z-index: 40;
}

.form {
    width: 100%;
    height: 400px;
    display: flex;
    margin: var(--section-margin);
    position: sticky;
    top: 80px;
    z-index: 50;
}

.form-wrap {
    padding: 120px 50px;
    position: relative; 
    z-index: 40;
}

.form-group {
    position: relative;
    width: 200px;
    margin: 0 0 20px 0;
    padding: 5px 10px;
    border: 2px solid #000;
}

.form-group::after {
    width: 220px;
    content: '';
    position: absolute;
    top: 2px;
    right: -6px;
    bottom: -6px;
    left: 2px;
    border: 2px solid #000;
}

.click-btn {
    margin: 0;
    padding: 20px;
    background: transparent;
    cursor: pointer;
}

.form-controls {
    /* display: block; */
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    outline: none;
    border: none;
    position: relative;
    text-transform: uppercase;
    z-index: 50;
    cursor: pointer;
}

.form-controls::placeholder {
    color: #000;
}

.form-text {
    width: 400px;
    padding: 120px 0 0 0;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 40;
}

.blur {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
}



footer {
    width: 100%;
    height: 100px;
    background: #22262A;
    margin: var(--section-margin);
}

footer a {
    text-transform: uppercase;
    color: #fff;
}

footer a:hover {
    text-decoration: underline;
}